 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Organization</h2>
      <i class="devicon-trello-plain-wordmark colored"></i>
      <i class="devicon-slack-plain-wordmark colored"></i>
      <i class="devicon-confluence-plain colored"></i>
      <p>Core applications for managing projects.</p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-java-plain-wordmark colored"></i>
      <i class="devicon-c-plain colored"></i>
      <i class="devicon-cplusplus-plain colored"></i>
      <i class="devicon-csharp-plain colored"></i>
      <i class="devicon-python-plain-wordmark colored"></i>
      <i class="devicon-swift-plain-wordmark colored"></i>
      <p>Multilingual in code.</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-amazonwebservices-plain-wordmark colored"></i>
      <i class="devicon-git-plain colored"></i>
      <i class="devicon-linux-plain colored"></i>
      <i class="devicon-redhat-plain-wordmark colored"></i>
      <i class="devicon-windows8-original colored"></i>
      <i class="devicon-apple-original colored"></i>
      <p>Services & Operating Systems.</p>
    </div>
</div>
